@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inter:wght@300;600&family=Mulish&display=swap');
.quemsomos {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: #FF88BB;
}

.tituloQuemSomos {
    width: 100%;
}
.tituloQuemSomos h1 {
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 140px;
    padding-left: 10%;
    white-space: nowrap;
}

.paragrafo p {

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 21px;
    line-height: 35px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
}