@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.frame {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    background: white;
}

#title {
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    font-weight: 700;
    margin-left: 150px;
}

.maisquerido h1 {
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 140px;
    padding-left: 10%;
}

.produtos {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 2%;
    margin-right: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2%;
}

.component {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image {
    border-radius: 15px;
    border: 3px solid #B38130;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

#text {
    display: flex;
    flex-direction: row;
    font-family: 'Amatic SC', cursive;
    font-size: 8mm;
    font-weight: 700;
}

.preco-favorito {
    display: flex;
    flex-direction: row;
}

.botaofavorito {
    display: flex;
    flex-direction: row;
    margin-left: 220px;
    background: #FF88BB;
    
}

/* fazer um css todo novo dentro desse media */

@media (max-width:700px) {
    .frame {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
    }

    .title {
        display: flex;
        font-family: 'Amatic SC', cursive;
        font-size: 10mm;
        font-weight: 700;
        margin-left: 150px;

    }

    .produtos {

        display: flex;
        flex-direction: row;
        margin-left: 150px;
        margin-top: 2%;
        margin-right: 150px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .component {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image {
        border-radius: 15px;
        border: 3px solid #B38130;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }

    .text {
        display: flex;
        flex-direction: row;
        font-family: 'Amatic SC', cursive;
        font-size: 9mm;
    }

    .preco-favorito {
        display: flex;
        flex-direction: row;
    }

    .favorito {
        display: flex;
        flex-direction: row;
        margin-left: 220px;

    }
}