@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

.header {
    display: flex;
    background-color: #FFE4E4;
    width: 100%;
    height: 85px;
}


.elementos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200%;
    height: 100%;
}

.vetores {
    display: flex;
    gap: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;
}

.links {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 900px) {

    .container {
        display: flex;
        background-color: #FFE4E4;
        width: 100%;
        height: 100%;
    }


    .elementos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .vetores {
        display: flex;
        gap: 20px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 45px;
        flex-wrap: wrap;
    }

    .links {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: 'Inter', sans-serif;
    }
}

@media (max-width: 600px) {

    .container {
        display: flex;
        background-color: #FFE4E4;
        width: 100%;
        height: 100%;
    }


    .elementos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .vetores {
        display: flex;
        gap: 20px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 45px;
        flex-wrap: wrap;
    }

    .links {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: 'Inter', sans-serif;
    }
}