.footer {
    display: flex;
    flex-direction: column;
    background-color: #FFE4E4;
    width: 100%;
}

.topo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    align-items: center;
    justify-content: center;
}

.elementos-topo {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

}

.separador {
    display: flex;
    border-color: #B38130;
    width: 100%;
    height: 0px;
}

.seu-email {
    height: 54px;
    width: 400px;
    background: #b3813080;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.seu-email::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 17px;
    color: #67472F;
}

.botao-cadastro {
    background: #67472F;
    border-radius: 10px;
    height: 56px;
    width: 140px;
    border: none;
    margin-left: -20px;
    font-weight: 700;
    color: #9A6B47;
}

.botao-cadastro:hover {
    background-color: #966836;
    color: black;
}

.elementos-topo p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    color: #B38130;
    white-space: wrap;
}

.cadastro {
    display: flex;
    flex-wrap: nowrap;
}

.meio {
    display: flex;
    width: 100%;
    height: 370px;
}

.baixo {
    display: flex;
    width: 101%;
    height: 150px;
}

.meio {
    display: flex;
    flex-direction: column;
}

.conteudos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.colunas {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.coluna1 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.coluna2 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.coluna3 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.link {
    color: #000000;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

h2 {
    color: #B38130;
    font-weight: 800;
    font-size: 40px;
    line-height: 29px;
}

.logoMeio {
    position: relative;
    top: 24px;

}

.baixo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conteudosBaixo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.redesSociais {
    display: flex;
    gap: 20px;
}

.texto {
    color: #000000;
    font-size: 20px;
}

@media (max-width: 1300px) {
    .base {
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-bottom: -10px;
    }

    .topo {
        display: flex;
        flex-direction: column;
        background-color: #FFE4E4;
        width: 100%;
        height: 180px;
        align-items: center;
        justify-content: center;
    }

    .elementos-topo {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    .separador {
        display: flex;
        border-color: #B38130;
        width: 100%;
        height: 0px;
    }

    .seu-email {
        height: 54px;
        width: 400px;
        background: #b3813080;
        border-radius: 10px 0px 0px 10px;
        border: none;
    }

    .seu-email::placeholder {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 17px;
        color: #67472F;
    }

    .botao-cadastro {
        background: #67472F;
        border-radius: 10px;
        height: 56px;
        width: 140px;
        border: none;
        margin-left: -20px;
    }

    .elementos-topo p {
        white-space: wrap;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;

        color: #B38130;
    }

    .cadastro {
        display: flex;
        flex-wrap: nowrap;
    }

    .meio {
        display: flex;
        background-color: #FFE4E4;
        width: 100%;
        height: 100%;
    }

    .baixo {
        display: flex;
        background-color: #FFE4E4;
        width: 101%;
        height: 150px;
    }

    .conteudos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 7.5%;
        padding-right: 7.5%;
        flex-wrap: wrap;
        row-gap: 60px;
    }

    .colunas {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .coluna1 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .coluna2 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .coluna3 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .link {
        color: #000000;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    h2 {
        color: #B38130;
        font-weight: 800;
        font-size: 40px;
        line-height: 29px;
    }

    .logoMeio {
        position: relative;
        top: 24px;

    }

    .baixo {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .conteudosBaixo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    .redesSociais {
        display: flex;
        gap: 20px;
    }

    .texto {
        color: #000000;
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .base {
        display: flex;
        flex-wrap: wrap;
    }

    .topo {
        display: flex;
        flex-direction: column;
        background-color: #FFE4E4;
        width: 100%;
        height: 100%;
        padding-top: 7.5%;
        align-items: center;
        justify-content: center;
    }

    .elementos-topo {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

    .separador {
        display: flex;
        border-color: #B38130;
        width: 100%;
        height: 0px;
    }

    .seu-email {
        height: 54px;
        width: 400px;
        background: #b3813080;
        border-radius: 10px 10px 10px 10px;
        border: none;
    }

    .seu-email::placeholder {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 17px;
        color: #67472F;
    }

    .botao-cadastro {
        background: #67472F;
        border-radius: 10px;
        height: 56px;
        width: 140px;
        border: none;
        margin-left: -20px;
    }

    p {
        white-space: wrap;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
        text-align: center;


        color: #B38130;
    }

    .cadastro {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .meio {
        display: flex;
        background-color: #FFE4E4;
        width: 100%;
        height: 100%;
    }

    .baixo {
        display: flex;
        background-color: #FFE4E4;
        width: 101%;
        height: 150px;
    }

    .conteudos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 60px;
    }

    .colunas {
        display: flex;
        flex-direction: row;
        gap: 100px;
        flex-wrap: wrap;
    }

    .coluna1 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .coluna2 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .coluna3 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .link {
        color: #000000;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    h2 {
        color: #B38130;
        font-weight: 800;
        font-size: 40px;
        line-height: 29px;
    }

    .logoMeio {
        position: relative;
        top: 24px;

    }

    .baixo {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .conteudosBaixo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10%;
        row-gap: 2%;
    }

    .redesSociais {
        display: flex;
        gap: 20px;
    }

    .texto {
        color: #000000;
        font-size: 20px;
    }
}